<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<section class="container about">
	<section id="campus">
		<span class="title-campus-super" style="margin-bottom: 10px; font-size: 30px;">Campus</span>
		<span class="title-campus-sub" style="text-align: center; margin-bottom: 30px;">La primera plataforma que brinda cursos en línea, gratuitos y masivos</span>
		<center>
			<iframe width="640" height="360" src="//www.youtube.com/embed/4uqGS9Zl1JA" frameborder="0" allowfullscreen></iframe>
		</center>
	</section>
	<section id="equipo">
		<span class="title-campus-super" style="margin-bottom: 10px;">El equipo</span>
		<span class="title-campus-sub" style="text-align: center; margin-bottom: 30px;">Conócenos un poco más</span>
	</section>
</section>
