<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="container about">
	<span class="title-campus-super" style="margin-bottom: 50px;">Contacto</span>
	<span class="title-campus-sub2" style="text-align: center; margin-bottom: 10px;">hola@campus.org.pe</span>
	<span class="title-campus-sub" style="text-align: center; margin-bottom: 10px; font-size: 24px;">+51.986.764.137</span>
  	<span class="title-campus-sub2" style="text-align: center; margin-bottom: 20px;">CAJAMARCA, PERU</span>
	<div style="text-align:center;">
		<div class='row-social'><i class='icon-facebook'></i><i class='icon-twitter'></i><i class='icon-googleplus'></i><i class='icon-linkedin'></i></div>
	</div>
</section>
