<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="container about">
	<span class="title-campus-super" style="margin-bottom: 50px;">Contacto</span>
	<span class="title-campus-sub2" style="text-align: center; margin-bottom: 10px;">info@campus.org.pe</span>
	<span class="title-campus-sub" style="text-align: center; margin-bottom: 10px; font-size: 24px;">+51.986.764.137</span>
  	<span class="title-campus-sub2" style="text-align: center; margin-bottom: 20px;">CAJAMARCA, PERU</span>
	<div style="text-align:center;">
		<div class='contact-social'>
			<a href="https://www.facebook.com/campus.mooc" target="_blank"><i class='icon-facebook'></i></a>
			<a href="https://twitter.com/campus_mooc" target="_blank"><i class='icon-twitter'></i></a>
			<a href="https://plus.google.com/u/0/b/116272715684329080290/116272715684329080290/about" target="_blank"><i class='icon-googleplus'></i></a>
			<a href="#"><i class='icon-linkedin'></i></a>
		</div>
	</div>
</section>
