/****************************************************************************************************
*   Stanford Theming File
*
*   Contains all the theme color definitions for the Stanford Open Source MOOC Project
*
****************************************************************************************************/

//-----------------
//  Color variables (from Stanford palette unless noted)
//-----------------

//Main Color Variables
$main-color: #f7931d;
$dark-color: #126f9a; //Link Color 9e9e9e
$light-color: #f4e00c; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$bg-color: #f7fe81; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

//Main BG Color Variables
$main-bg: #822537;
$main-bg-60: #ccc; //Main Border/HR Color
$main-bg-25: lighten($main-bg, 25%); 

//Secondary Color Variables
$secondary: #b5a4b7;
$secondary-50: lighten($secondary, 9%);
$secondary-25: lighten($secondary, 20%); //Important Heading BG Color 

//Gray Color Variables
$gray: #3f3f3f; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-3: #e9e9e9; //Block/Course BG Color
$gray-2: #f2f2f2;
$gray-1: #ffffff; //Main BG Color
$white: $gray-1;

$black: #2e2e2e;
$black-80: #585858;



//-----------------
//  Font Assignment
//-----------------

$theme-sans-font: 'Open Sans';
$sans-serif: $theme-sans-font, $sans-serif;
$body-font-family: $sans-serif;

$theme-serif-font: 'Crimson Text';
$serif: $theme-serif-font, $serif;




//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: $gray-1;
$container-bg: $gray-1;
$login-register-bg: $gray-1;
$content-wrapper-bg: $gray-1;
$header-image: none;
$header-bg: transparentize(lighten($secondary, 18.5%), .25);
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten($secondary, 18.5%), .25);
$footer-bg: $secondary-25;
$courseware-footer-border: 1px solid $main-bg-60;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

$faded-hr-image-1: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-2: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-3: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-4: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-5: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-6: linear-gradient($main-bg-60 0%, $main-bg-60);

$base-font-color: $black;
$lighter-base-font-color: $black-80;
$very-light-text: $gray-1;

$link-color: $dark-color;
$link-color-d1: $dark-color;
$link-hover: $light-color;
$site-status-color: $bg-color;

$header-graphic-super-color: $dark-color;
$header-graphic-sub-color: $lighter-base-font-color;

$header-link-color: $dark-color;
$header-link-hover: $light-color;

$button-color: $main-color;
$button-archive-color: $gray-3;

$shadow-color: $gray;

// actions
$button-bg-image: none;
$button-bg-color: $gray-3;
$button-bg-hover-color: $gray-1;

// actions - primary
$action-primary-bg: $main-color;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;

// focused - hover/active pseudo states
$action-primary-focused-bg: $dark-color;
$action-primary-focused-fg: $gray-1;

// current or active navigation item
$action-primary-active-bg: $dark-color;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;

// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;



// actions - secondary
$action-secondary-bg: $secondary;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;

// focused - hover/active pseudo states
$action-secondary-focused-bg: $secondary-50;
$action-secondary-focused-fg: $gray;

// current or active navigation item
$action-secondary-active-bg: $secondary-50;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;

// disabled
$action-secondary-disabled-bg: $gray-3;
$action-secondary-disabled-fg: $gray;

//

$border-color-1: $main-bg-60;
$border-color-2: $main-bg-60;
$border-color-3: $main-bg-60;
$outer-border-color: $main-bg-60;

$sidebar-color: $gray-1;

$homepage__header--gradient__color--alpha: $secondary-25;
$homepage__header--gradient__color--bravo: $secondary-25;
$homepage__header--background: $secondary-25;
$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $secondary-25;
$dashboard-profile-color: $gray-3;
$dot-color: $main-bg-60;

$course-bg-color: $gray-3;
$course-bg-image: none;
$account-content-wrapper-bg: $gray-1;

$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);

$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;

$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;

//TOP HEADER IMAGE MARGIN
$header_image_margin: -77px;

//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;

//-----------------
//  CSS BG Images
//-----------------
//$homepage-bg-image: url('../themes/default/images/sunrise.jpg');

//$login-banner-image: none;
//$register-banner-image: none;

//$video-thumb-url: '../themes/default/images/edx.png';

//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
    clip: auto !important;
    height: 50px;
    width: 550px;
    top: 0;
}

@mixin footer_references_style {
    margin: 0 !important;
    text-align: right;
}

/// -------------- CAMPUS -----------
body{
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 400;
    color: #4e4e4e;
}

.view-register .introduction header .title .title-sub, .view-login .introduction header .title .title-sub, .view-passwordreset .introduction header .title .title-sub {
    font-size: 18px;
    margin-left: 40px;
    text-transform: lowercase;
    color: #585858;
}

header {
	background-color: #ffffff !important;
    border-bottom: 1px solid #c4c5c7;
}

header.global {
    border-bottom: 1px solid #d2d2d2;
}

header.global a:hover{
    color: #f7931d;
}

.outer-wrapper{
    font-size: 14px;
    height: 461px;
    max-width: 1400px;
}
.home>header .outer-wrapper {
    max-width: 1400px;
}

.content-wrapper a{
  color: #126f9a;
}

.wrapper-footer footer {
	font-size: 12px;
}

.wrapper-footer {
	background: #f5f5f5;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.1);
    border-top: 1px solid #ededed;
    font-weight: 300;
}

.wrapper-footer footer .wrapper-logo {
    margin: 20px 0 4px 0;
}

.wrapper-footer footer a {
    color: #b2b2b2;
    font-weight: 300;
}

.wrapper-footer footer a:hover {
    color: #b2b2b2;
}

.wrapper-footer footer .copyright {
    font-size: 11px;
    font-weight: 300;
}

.wrapper-footer footer .nav-legal {
    text-align: center;
}

.wrapper-footer footer .nav-legal li {
    font-size: 11px;
}

.wrapper-footer footer .nav-legal li a {
    display: inline;
}

.wrapper-footer footer .colophon .nav-colophon li a {
    color: #949494;
    font-weight: 300;
}

.wrapper-footer footer .colophon .nav-colophon li a:hover {
    color: #f7931d;
}

.home>header {
    border-bottom: 1px solid #c4c5c7;
}

.home>header .title {
    border: 1px solid #c4c5c7;
}

.highlighted-courses .courses .course, .find-courses .courses .course {
    border: 1px solid #c4c5c7;
}

.info-campus{
    font-size: 12px;
    color: #b2b2b2;
    line-height: 16px;
    clear: both;
}

.info-campus i{
    font-size: 12px;
    color: #b2b2b2;
    line-height: 20px;
}

.nav-legal{
    clear: both;
    font-size: 11px;
    color: #b2b2b2;
}

.home>header .media {
    border: 1px solid #c4c5c7;
}

.highlighted-courses .courses .course:hover, .find-courses .courses .course:hover {
    border: 1px solid #f7931d;
}

//.highlighted-courses .courses .course header.course-preview hgroup h2:hover, .find-courses .courses .course header.course-preview hgroup h2:hover {
//    color: #f7931d;
//}

//.highlighted-courses .courses .course header.course-preview .info-link:hover, .find-courses .courses .course header.course-preview .info-link:hover {
//    color: #f7931d;
//   opacity: 1;
//}

textarea, input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
    border: 1px solid #c6c6c6;
}

.login aside .cta-login .cta-login-action, .register aside .cta-login .cta-login-action, .passwordreset aside .cta-login .cta-login-action, #forgot-password-modal #password-reset aside .cta-login .cta-login-action {
  padding: 2px 15px;
  margin-left: 70px;
  margin-top: 20px;
}

header.global .nav-courseware li .cta, header.global .nav-courseware div .cta, .view-partial-mktgregister .action.action-register, .view-partial-mktgregister .action.access-courseware {
  color: #ffffff;
}

.title-campus-super{
  text-transform: initial !important;
  font-size: 26px;
  line-height: 26.64px;
  color: #126f9a;
  text-align: center;
  display: block;
  font-weight: 300;
  font-family: "Open Sans","Open Sans",Verdana,Geneva,sans-serif,sans-serif;
  margin-top: 25px;
}

.socios-campus{
  border-top: 1px solid #c4c5c7;
  display: block;
}

.dashboard .my-courses .course .info .enter-course {
  color: #ffffff;
}

.course-info header.course-profile {
  background-image: url('http://www.campus.org.pe/static/themes/campus/images/campus-bg-1.jpg');
  height: 420px;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta span.register {
  font-size: 12px;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register{
  color: #ffffff;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong {
  color: #fff;
  padding: 7px 0px;
  font-size: 12px;
}

.modal.home-page-video-modal .inner-wrapper, .home-page-video-modal.leanModal_box .inner-wrapper {
  padding: 0px;
}

.home>header .media .hero {
  background: url("http://www.campus.org.pe/static/themes/campus/images/mini-video-homepage.jpg") center no-repeat;
  background-size: 200px 110px;
}

/// -------------- CAMPUS SOCIAL NETWORKS-----------

@import url(http://www.markmurray.co/codepen/entypostyle.css);
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row-social {
  margin: 0.5em 0;
  float: right;
  clear: both;
  font-size: 14px;
}
.row-social i {
  cursor: pointer;
  display: inline-block;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.row-social:nth-child(1) {
  background: transparent;
}

.row-social:nth-child(1) i {
  color: #34495e;
  border: 2px solid;
  border-radius: 50%;
  padding: 0.5em;
  position: relative;
  background: transparent;
}
.row-social:nth-child(1) i:hover {
  top: -2px;
  border-radius: 50%;
  color: white !important;
}
.row-social:nth-child(1) i:not(:first-child) {
  margin-left: 10px;
}
.row-social:nth-child(1) i:nth-child(1) {
  color: #3b5998;
  border-color: #3b5998;
}
.row-social:nth-child(1) i:nth-child(2) {
  color: #00a0d1;
  border-color: #00a0d1;
}
.row-social:nth-child(1) i:nth-child(3) {
  color: #db4a39;
  border-color: #db4a39;
}
.row-social:nth-child(1) i:nth-child(4) {
  color: #1c87bd;
  border-color: #1c87bd;
}
.row-social:nth-child(1) i:nth-child(5) {
  color: #ea4c89;
  border-color: #ea4c89;
}
.row-social:nth-child(1) i:nth-child(1):hover {
  background: #3b5998;
}
.row-social:nth-child(1) i:nth-child(2):hover {
  background: #00a0d1;
}
.row-social:nth-child(1) i:nth-child(3):hover {
  background: #db4a39;
}
.row-social:nth-child(1) i:nth-child(4):hover {
  background: #1c87bd;
}
.row-social:nth-child(1) i:nth-child(5):hover {
  background: #ea4c89;
}
