## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
      <ol>
          <li class="nav-colophon-01">
            <a href="/about">Sobre Campus</a>
          </li>
          <li class="nav-colophon-04">
            <a href="/about#equipo">El Equipo</a>
          </li>
          <li class="nav-colophon-05">
            <a href="/contact">Contacto</a>
          </li>
      </ol>
      </nav>

      <div class="wrapper-logo">
        <p>
          <a href="/"><img alt="Campus" src="http://www.campus.org.pe/static/themes/campus/images/campus-logo-lighter.png" height="25"></a>
        </p>
      </div>

      <p class="copyright">© 2015 Campus, derechos reservados</p>

    </div>

    <div class="powered-by">
       <div class='row-social'>
          <a href="https://www.facebook.com/campus.mooc" target="_blank"><i class='icon-facebook'></i></a>
          <a href="https://twitter.com/campus_mooc" target="_blank"><i class='icon-twitter'></i></a>
          <a href="https://plus.google.com/u/0/b/116272715684329080290/116272715684329080290/about" target="_blank"><i class='icon-googleplus'></i></a>
          <a href="#"><i class='icon-linkedin'></i></a>
        </div>
       <div class="info-campus"><i class='icon-mail'></i> <a href="mailto:info@campus.org.pe">info@campus.org.pe</a><br/><i class='icon-mobile'></i> +51 986 764137</div>
    </div>

    <!-- <div class="powered-by">
      <p>
        <a href="http://openedx.org/">
          <img src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag-dark.png" width="150" height="50" alt="Powered by Open edX" />
        </a>
      </p>
    </div> -->
    <nav class="nav-legal">
        <a href="/tos">Términos de servicio</a> - <a href="/honor">Código de Honor</a> - <a href="/privacy">Política de Privacidad</a>
    </nav>

  </footer>
</div>



